.register {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%,
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/b8e09d9c-d1e7-4800-afd9-810e41ace684/40cd8534-b2f7-4e19-967f-904ec978f749/GH-en-20210607-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
            }

            .loginButton {
                background-color: red;
                border: none;
                color: #fff;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;

        h1 {
            font-size: 50px;
        }

        h2 {
            margin: 20px;
        }

        p {
            font-size: 20px;
        }

        .input {
            width: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            border-radius: 5px;

            input {
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;

                &:focus {
                    outline: none;
                }
            }

            .registerButton {
                flex: 3;
                height: 100%;
                background-color: red;
                border: none;
                color: #fff;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }
}